<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Getting Started: Serving Web Content</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<!--/*@thymesVar id="helloList" type="java"*/-->
<span th:each="e : ${helloList}">
  <!--/*@thymesVar id="getContent" type="java"*/-->
  <!--/*@thymesVar id="getFontSize" type="java"*/-->
  <!--/*@thymesVar id="getColor" type="java"*/-->
  <span th:text="${e.getContent()}" th:style="'font-size: ' + ${e.getFontSize()} + 'px; color: ' + ${e.getColor()}"></span>
</span>
</body>
</html>