<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>My To Dos</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet"/>
    <meta charset="utf-8" />
  </head>

  <body>
    <div class="left">
      <table class="table">
        <h1>To Dos for today:</h1>
        <tr>
          <th class="idcolumn"> ID </th>
          <th class="texttitle"> To Do </th>
          <th class="booleancolumn"> It it done yet? </th>
          <th class="booleancolumn"> Is it urgent? </th>
        </tr>
        <tr th:each="todo : ${todos}">
          <th class="idcolumn" th:text="${todo.getId()}"/>
          <th class="textcolumn" th:text="${todo.getTitle()}"/>
          <th class="booleancolumntrue" th:if="${todo.isDone()}">&#10003;</th>
          <th class="booleancolumnfalse" th:if="${!todo.isDone()}">X</th>
          <th class="booleancolumntrue" th:if="${todo.isDone()} ">Done already</th>
          <th class="booleancolumnfalse" th:if="${!todo.isDone()} and ${todo.isUrgent()}">URGENT!</th>
          <th class="booleancolumntrue" th:if="${!todo.isDone()} and ${!todo.isUrgent()}">Nope, chill!</th>
          <th><a class="delete" style="text-decoration: none" th:href="${'/' + todo.getId() + '/delete'}">X</a></th>
          <th><a class="edit" style="text-decoration: none" th:href="${'/' + todo.getId() + '/edit'}">&#9998;</a></th>
        </tr>
      </table>
      <a class="switch" style="text-decoration: none" href="/listundone">Show undone</a>
      <form class="addtodo" action="/addtodo">
        Add new To Do:
        <input type="search" name="newTodo"/>
        <input type="submit" value="Add"/>
      </form>
    </div>

    <div class="right">
      <h4>Edit To Do:</h4>
      <form class="editfunction" action="/save" method="post" th:object="${todo}">
        <div><input type="hidden"  th:field="*{id}"/></div>
        <div><input type="text" name="title" th:value="*{title}" required="required"/></div>
        <div><input type="checkbox" name="isDone" th:checked="*{done}"/>Done</div>
        <div><input type="checkbox" name="isUrgent" th:checked="*{urgent}"/>Urgent</div>
        <input type="submit"/>
      </form>
      <form class="back" action="/listall">
        <input type="submit" value="Cancel"/>
      </form>
    </div>
  </body>

</html>