body {
    margin: 50px;
}

h1, h2 {
    font-family: 'Roboto', sans-serif;
    text-decoration: underline;
}


.foxbox{
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
    color: #085569;
    margin: 15px;
    padding: 20px 40px 70px 15px;
    border: 5px solid #80CD96;
    width: 315px;
    heigth: 95px;
    background-color: #1C91A0;
}





.redbox, .yellowbox, .bluebox, .purplebox {
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: white;
    margin-left: 15px;
    margin-right: 15px;
    padding: 45px 0px 45px 0px;
    border: 16px solid #4688F1;
    width:350px;
    heigth:130;
    background-color: blue;
}

.redbox {
    background-color:#E47778;
    margin-top: 10px;
    margin-bottom: 0px;
    border-bottom: 0px;
}

.yellowbox {
    background-color:#F2EE6D;
    margin-top: 0px;
    margin-bottom: 0px;
    border-bottom: 0px;
    border-top: 0px;
}

.bluebox {
    background-color:#ABE6E5;
    margin-top:0px;
    margin-bottom:0px;
    border-bottom: 0px;
    border-top: 0px;
}

.purplebox {
    background-color:#7794E1;
    margin-top:0px;
    margin-bottom:10px;
    border-top: 0px;
}



.Northbox1, .Northbox2, .Southbox1, .Southbox2 {
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: white;
    margin-left: 15px;
    margin-right: 15px;
    padding: 45px 0px 45px 0px;
    border: 16px solid #4688F1;
    width:350px;
    heigth:130;
    background-color: blue;
}

.Northbox1, .Northbox2 {
    background-color:#E67676;
}

.Southbox1, .Southbox2 {
    background-color:#A9E6E6;
}

.Southbox1, .Northbox1 {
    margin-top: 10px;
    margin-bottom: 0px;
    border-bottom: 0px;
}

.Northbox2, .Southbox2 {
    margin-top: 0px;
    margin-bottom: 10px;
    border-top: 0px;
}

h2 {
    color: #F1AB1C;
}

.texttag, .textparagraph {
    margin: 0;
    padding: 0;
}

.textparagraph {
    text-indent: 17px;
}

ul {
    color:#0106DA;
}

ol {
    color:#000000;
}

.fruitlist {
    color:#000000;
    list-style: disc;
}

.apple {
    color:#ff0000;
    list-style: disc;
}

.lorem {
    width: 400px;
    padding-left: 15px;
    border-left: 2px solid #000000;
}

h3 {
    font-size: 36px;
}


.big {
    color: blue;
}

.container > .asteroid {
    border: 1px solid green;
}

.container, .asteroid.b329.big {
    font-weight: bold;

}

p.asteroid {
    background-color: yellow;
}

#colorgame {
    width: 300px;
}
