body {
  color: darkgreen;
  font-family: 'Roboto', sans-serif;
  background-color: darkcyan;
  margin-top: 50px;
}


.top, .left, .right {
  border-radius: 10px;
  background-color: skyblue;
  box-shadow: 10px 10px 5px royalblue;
}

.left, .right {
  height: 580px;
  float: left;
}

.top {
  width: 590px;
  height: 75px;
  margin-top: 40px;
  margin-left: 420px;
  text-align: center;
  padding-top: 1px;
}

.left {
  width: 200px;
  margin: 20px 0px 0px 400px;
}

.right {
  width: 400px;
  margin: 20px 0px 0px 40px;
}

.button {
  width: 120px;
  height: auto;
  margin: 10px 5px 10px 0px;
  text-align: center;
  color: darkgreen;
  border: 1px solid black;
  border-radius: 10px;
  background-color: ghostwhite;
  box-shadow: 3px 3px 3px royalblue;
}

.menu {
  font-weight: bold;
  width: 150px;
  height: auto;
  margin: 20px 0px 5px 22px;
  text-align: center;
  color: darkgreen;
  border: 1px solid black;
  border-radius: 10px;
  background-color: ghostwhite;
  box-shadow: 3px 3px 3px royalblue;
}

.foxImage {
  padding-left: 100px;
}

p, h3 {
  text-align: center;
}

.tricks {
  margin-left: 100px;
}

.button:hover, .buttontop:hover{
  background-color: lightgray;
  margin-top: -.5px;
  margin-left: -1px;
}

.setnutrition, .settrick, .listcurrenttricks, .listactions, .managenutrition {
  margin-top: 20px;
  margin-left: 40px;
}

.actions {
  margin-right: 40px;
}

.image {
  margin-top: 20px;
}